* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura-medium;
}

@font-face {
    src: url("../assets/fonts/FuturaPT-Medium.woff2");
    font-family: futura-medium;
}

@font-face {
    src: url("../assets/fonts/FuturaPT-Bold.woff2");
    font-family: futura-bold;
}

:root {
    --color-background-main: #141414;
    --color-background-secondary: #333;
    --color-background-tertiary: #222;
    --color-white: #fff;
    --color-green: #4bb34b;
    --color-dark-green: #1d3b1d;
    --color-red: #ff0a35;
    --border-radius: 8px;
    --profile-image-size-large: 150px;
    --profile-image-size-small: 75px;
    --icon-size-large: 20px;
    --icon-size-small: 10px;
}

h1, h2, h3, h4, h5, h6, label, p {
    color: var(--color-white);
    padding: 8px;
}

input, a, li {
    background-color: var(--color-background-tertiary);
    padding: 12px 8px;
    color: var(--color-white);
    border: none;
    margin: 8px;
    outline: none;
    border-radius: var(--border-radius);
    width: 100%;
    font-size: 12pt;
    -webkit-tap-highlight-color: transparent;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul::-webkit-scrollbar {
    margin: 0 0 0 2px;
    width: 4px;
    background-color: var(--color-background-secondary);
}

ul::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
}

li {
    list-style-type: none;
    text-align: center;
}

input::-webkit-file-upload-button {
    background-color: var(--color-background-secondary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    padding: 4px;
    font-family: futura-medium;
}

a {
    text-align: center;
    text-decoration: none;
}

form, .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20vw;

    background-color: var(--color-background-secondary);
    padding: 1%;
    border-radius: var(--border-radius);
    margin: 10px 0;
}

dialog {
    z-index: 999;
    position: absolute;
    top: 25vh;
    left: 42vw;
    width: 15vw;
    background-color: var(--color-background-secondary);
    border-radius: var(--border-radius);
    outline: none;
    border: solid 1px var(--color-background-tertiary);
}

.dialog-content {
    width: 15vw;
    min-width: 0;
}

@media only screen and (max-width: 426px) {
    dialog {
        left: 25vw;
        width: 50vw;
    }
    .dialog-content {
        width: 50vw;
    }
}