* {
    margin: 0;
    padding: 0;
}

.form {
    padding: 1%;
    margin: 2% auto;
    width: 30%;
    border: solid #e0e0e0;
    border-radius: 5px;
    box-shadow: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
}

input {
    padding: 1% 2%;
    margin: 2%;
    border: aliceblue;
}

.text-input {
    padding: 5%;
}

.btn {
    padding: 4%;
    border-radius: 10px;
}