* {
    -fx-background-color: black;
}

@font-face {
    font-family: DPComic;
    src: url(../assets/dpcomic.ttf);
}

#starterText {
    -fx-font-family: DPComic;
    -fx-text-fill: blue;
    -fx-background-color: transparent;
    -fx-font-size: 40;
    -fx-padding: 0;
}

#positioner {
    -fx-background-color: transparent;
}
